##################
################3
*.[ao]
*.cmp
*.so
*.exe
*.so
*.swp
*.cmd
*.ko
*.dat
*.txt
*.back
*.usb
*.soc
#*.bin.*
#*.bin
*~
*.rar
makelog
bin2h
#log
################
*.log
log*

#####tags cscope
#######
tags
cscope*
##############other ignore files


Kconfig
Makefile
Makefile.PC
Makefile.android
ate/chips/mrgtmp0
ate/common/mrgtmp0
errlog
#linux-2.6.20
lll
os/linux/Makefile
os/linux/Makefile.4
os/linux/Makefile.4.netif
os/linux/Makefile.4.util
os/linux/Makefile.6.netif
os/linux/Makefile.6.util
os/linux/Makefile.libautoprovision.6
os/linux/Makefile.libwapi.4
os/linux/Makefile.libwapi.6
os/linux/Module.symvers
os/linux/modules.order
os/linux/mt7601Usta.mod.c

