##################
################3
*.[ao]
*.cmp
*.so
*.exe
*.so
*.swp
*.cmd
*.ko
*.dat
*.txt
*.back
*.usb
*.soc
*.bin.*
*.bin
makelog
bin2h
#log
################
*.log
log*

#####tags cscope
#######
tags
cscope*
